@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #272221;
  --text: #f7f0ec;
  --accent: #5077ee;
  
}

.dark {
  --background: #f7f0ec;
  --text: #272221;
  --accent: #5077ee;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-accent: var(--accent);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
