@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background-upper: #f1f1f1;
  --background-middle: #f5f5f5;
  --background: #fafafa;
  --text: #272221;
  --accent: #5077ee;
  --accent-faded: #5077ee22;
  --button: #2f4a9f;
}

.dark {
  --background-upper: #f1f1f1;
  --background-middle: #f5f5f5;
  --background: #272221;
  --text: #f7f0ec;
  --accent: #5077ee;
  --button: #2f4a9f;
}

@theme inline {
  --color-background-middle: var(--background-middle);
  --color-background-upper: var(--background-upper);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --color-button: var(--button);
  --color-accent-faded: var(--accent-faded);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
